aiohttp
aiosignal
alembic 
annotated-types
anyio
argon2-cffi 
argon2-cffi-bindings 
astor
asttokens
asyncio-atexit
attrdict
attrs
Babel
backcall
backoff
bce-python-sdk
bcrypt 
beautifulsoup4
black 
bleach
blinker
cachetools
certifi
cffi 
chardet
charset-normalizer
click 
colorama 
coloredlogs
colorlog
comm
contourpy
cryptography 
cssselect
cssutils
cycler
Cython
dataclasses-json
debugpy
decorator
deepdiff
defusedxml
dnspython
docopt
docx
dynaconf
ecdsa 
email_validator
emoji
erniebot==0.5.7
erniebot-agent==0.5.2
et-xmlfile
executing
fastapi
fastapi-cli
fastjsonschema
filetype
fire
Flask
flask-babel
flatbuffers
fonttools
frozenlist
future 
greenlet 
h11
httpcore
httptools
httpx
humanfriendly
idna
imageio
imgaug
ipykernel
ipython
itsdangerous
jedi
Jinja2
joblib
jsonpatch
jsonpath-python
jsonpointer
jsonschema
jsonschema-path
jsonschema-specifications
jupyter_client
jupyter_core
jupyterlab_pygments
kiwisolver
langchain==0.2.6
langchain-community==0.2.9
langchain-core==0.2.10
langchain-text-splitters==0.2.2
langdetect==1.0.9
langserve==0.2.2
langsmith==0.1.82
lazy-object-proxy
lazy_loader
lmdb
lxml
Mako 
markdown-it-py
MarkupSafe 
marshmallow
matplotlib
matplotlib-inline
mdurl
mistune
more-itertools
mpmath
multidict
mypy-extensions 
nbclient
nbconvert
nbformat
nest-asyncio
networkx
nltk
numpy
onnx
onnxruntime
openapi-schema-validator
openapi-spec-validator
opencv-contrib-python
opencv-python
opencv-python-headless
openpyxl
opt-einsum
ordered-set
orjson
packaging 
paddleocr
paddlepaddle
pandas
pandocfilters
parso
passlib
patch-ng
pathable
pathspec 
pdf2docx
pdfminer.six
pickleshare
pigar
pillow
pipreqs
platformdirs 
premailer
prompt_toolkit
protobuf
psutil
psycopg
psycopg-binary
psycopg2 
pure-eval
pyasn1 
pyclipper
pycocotools
pycparser 
pycryptodome 
pydantic
pydantic_core
Pygments
PyMuPDF
PyMuPDFb
PyMySQL
pyparsing
pypdf
pyproject-toml
python-dateutil 
python-docx
python-dotenv
python-iso639
python-jose 
python-magic
python-multipart
pytz
PyYAML
pyzmq
rapidfuzz
rarfile
redis 
referencing
regex
requests
rfc3339-validator
rich
rpds-py
rsa 
scikit-image
scipy
shapely
shellingham
six
sniffio
soupsieve
SQLAlchemy 
sqlmodel
sse-starlette
stack-data
starlette
sympy
tabulate
tenacity
termcolor
tifffile
tiktoken
tinycss2
toml
tornado
tqdm
traitlets
typer
typing-inspect
typing_extensions 
tzdata
ujson
unstructured
unstructured-client
urllib3
uvicorn
visualdl
watchfiles
wcwidth
webencodings
websockets
Werkzeug
wrapt
yarg
yarl
